.home-container-parent {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #d3d3d3;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  align-items: flex-start;
}

.home-container {
  display: flex;
  background-color: white;
  color: #d3d3d3;
  margin-top: 1rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  justify-content: flex-start;
 
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.word-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
 
}

.link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 14px 16px;
  border: 2px solid black;
  border-radius: 4rem;
  transition: background-color 0.2s ease;
  background-color: transparent;
  white-space: normal;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  line-height: 1;
  z-index: 1;
  margin-left: 1rem;
}

.link.active {
  background-color: black;
  color: white;
}

/* Expansion container styles */
.expansion {
  height: 0; /* Use height instead of max-height */
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  background-color: black;
  color: white;
  margin-top: 0.5rem;
  opacity: 0;
  width: 100vw;
  position: relative;
  left: 0;
  box-sizing: border-box;
  padding: 0; /* No padding when closed */
}

.expansion.open {
  height: auto; /* Height auto when open */
  padding: .5rem;
  opacity: 1;
  margin-bottom: 0.5rem;
}

.expansion p {
  font-size: 1rem;
  text-align: left;
  margin: 0.5rem 0;
}

/* Highlighted word style */
.highlighted-word {
  font-weight: 700;
  color: #e9370ae1;
  background-color: white;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 60%;
  font-size: 16px;
  line-height: 1.6;
  color: white;
}

.about-text p {
  margin-bottom: 20px;   
}

.about-text p:last-child {
  margin-bottom: 0;   
}

@media (max-width: 768px) {
  .home-container-parent {
    background-color: white;
    justify-content: center;
  }

  .home-container {
    background-color: white;
    max-width: 100%;  
    justify-content: center;
    align-items: flex-start; 
  }
  
  .link {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
  
  .expansion.open {
    padding: .5rem .5rem;
  }
  
  .expansion p {
    font-size: 1.2rem;
  }
}