body {
  margin: 0;
  font-family:"Fira Sans", sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><circle cx="8" cy="8" r="5" fill="black"/></svg>') 8 8, auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Fira Sans", sans-serif;  
 
 
}


 .container-app{
  display: flex;
  flex-direction: column;
  height:100%;
  width: 100%;
  overflow-x: hidden; 
 
} 

  

